In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv("co2_emission_asean_raw.csv")

df.head()

    Country  Year  Annual CO2  emissions (per capita)
0  Cambodia  1955                            0.020978
1  Cambodia  1956                            0.026384
2  Cambodia  1957                            0.031546
3  Cambodia  1958                            0.037897
4  Cambodia  1959                            0.039849

In [7]:
df.columns = df.columns.str.strip()

In [8]:
df = df.rename(columns={
    "Country": "country",
    "Year": "year",
    "Annual CO2 emissions (per capita)": "co2_per_capita"
})

In [ ]:
df.columns = (
    df.columns.str.strip()
              .str.lower()
              .str.replace(' ', '_')
              .str.replace('₂', '2')
              .str.replace('__', '_')    
              .str.replace('[()]', '', regex=True)
)

df = df.rename(columns={
    "annual_co2_emissions_per_capita": "co2_per_capita"
})

print(df.columns.tolist())

['country', 'year', 'co2_per_capita']

In [4]:
df["year"] = df["year"].astype(int)
df["co2_per_capita"] = pd.to_numeric(df["co2_per_capita"], errors="coerce")

In [ ]:
df.to_csv("co2_emission_asean_clean.csv", index=False)
print("✅ Clean dataset saved successfully!")

✅ Clean dataset saved successfully!