# Data Cleaning

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Load Data
df = pd.read_csv("co2_emission_asean_raw.csv")

df.head()

  Country  Year  Annual CO2 emissions (per capita)
0  Brunei  1933                           0.106975
1  Brunei  1934                           1.244213
2  Brunei  1935                           0.703475
3  Brunei  1936                           2.045512
4  Brunei  1937                           5.286885

In [3]:
df.columns = df.columns.str.strip()

In [4]:
df = df.rename(columns={
    "Country": "country",
    "Year": "year",
    "Annual CO2 emissions (per capita)": "co2_per_capita"
})

In [5]:
df.columns = (
    df.columns.str.strip()
              .str.lower()
              .str.replace(' ', '_')
              .str.replace('â‚‚', '2')
              .str.replace('__', '_')    
              .str.replace('[()]', '', regex=True)
)

df = df.rename(columns={
    "annual_co2_emissions_per_capita": "co2_per_capita"
})

print(df.columns.tolist())

['country', 'year', 'co2_per_capita']

In [6]:
df["year"] = df["year"].astype(int)
df["co2_per_capita"] = pd.to_numeric(df["co2_per_capita"], errors="coerce")

In [7]:
# Save Clean Dataset
df.to_csv("co2_emission_asean_clean.csv", index=False)
print("Clean dataset saved successfully!")

Clean dataset saved successfully!